* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
