name: Deploy staging

on:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: npm ci

    - name: Build
      env:
        CI: true
      run: npm run build

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-central-1

    - name: Deploy static site to S3 bucket
      env: 
        BUCKET_ID: ${{ secrets.BUCKET_ID }}
      run: aws s3 sync ./build/ s3://$BUCKET_ID --delete

    - name: Invalidate Cloundfront distrubution
      env:
        DISTRIBUTION_ID: ${{ secrets.DISTRIBUTION_ID }}
      run: aws cloudfront create-invalidation --distribution-id $DISTRIBUTION_ID --paths '/*'

